body {
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: #f0f0f0;
}

.form-1 {
    width: 5000px;
    max-width: 800px; /* Augmenter la largeur maximale à 800px */
    padding: 40px; /* Augmenter le padding pour plus d'espace à l'intérieur */
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.btn {
    background-color: #009de0;
    color: white;
    width: 100%; /* Rendre le bouton plein largeur */
    margin-top: 20px; /* Ajouter un peu d'espace au-dessus */
}

/* Styles supplémentaires pour les champs de formulaire */
.form-control {
    width: 100%; /* Assurer que les champs remplissent l'espace */
    margin-bottom: 15px; /* Espacement entre les champs */
}

.btn-success {
    width: 18%;
    margin-left: 42%;
    margin-right: 42%;
    margin-top: 5px;
}